.contFluid {
  padding: 0 4rem;
}
.introDuction {
  padding: 6rem 0;
}
.parentRow {
  align-items: center;
}
.introText {
  background: url("../public/Images/pinkbackground.svg") no-repeat;
  height: auto;
  font-family: sans-serif;
}
.introText h2 {
  font-size: 60px;
  font-weight: 700;
  width: 100%;
  text-align: left;
  padding-top: 4rem;
  padding-left: 3rem;
  font-family: sans-serif;
}
.introText span {
  font-size: 60px;
  font-weight: 700;
  color: #d47c88;
  font-family: sans-serif;
}
.introText p {
  font-size: 22px;
  font-weight: 400;
  color: #b4b4b4;
  text-align: left;
  padding: 2rem 4rem;
  font-family: sans-serif;
}
.priceButton {
  text-align: left;
  margin-left: -3rem;
}
.bookButton {
  text-align: center;
}
#doItnow {
  background: none;
  border: none;
  font-size: 30px;
  color: #23212b;
  font-weight: 400;
  position: relative;
  top: 4rem;
}
.doItsection {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
}
.ldsSpinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  /* right: 3rem; */
  height: 80px;
  /* top: -3rem !important; */
  /* left: 8rem; */
  left: -3rem;
}
.ldsSpinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  /* right: 3rem; */
  height: 80px;
  top: 5rem;
}

.ldsSpinner div {
  transform-origin: 40px 40px;
  animation: ldsSpinner 1.2s linear infinite;
}

.ldsSpinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: rgba(227, 155, 166, 0.3);
}

.ldsSpinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}

.ldsSpinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}

.ldsSpinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}

@keyframes ldsSpinner {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
.card {
  position: relative;
  width: 15rem;
  top: 25rem;
  box-shadow: 0px 14px 20px 0px rgba(0, 0, 0, 0.1);
  border-radius: 8px !important;
  background: #fff;
}
.cardCol {
  width: 28% !important;
  padding: 0 !important;
  text-align: center;
}
.cardCol1 {
  padding: 0 !important;
  width: 65% !important;
}
.card h3 {
  font-size: 20px !important;
  margin: 0;
  padding: 2px 0;
}
.card p {
  font-size: 16px;
  margin: 0;
  color: #b4b4b4;
  padding-bottom: 2px;
}
.card1 {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 8px;
  width: 15rem;
  float: right;
  top: 14rem;
  box-shadow: 0px 14px 20px 0px rgba(0, 0, 0, 0.1);
}
.card1 h3 {
  font-size: 20px;
  margin: 0;
  text-align: left;
  padding: 2px 0;
}
.card1 p {
  font-size: 15px;
  margin: 0;
  color: #b4b4b4;
  padding-bottom: 2px;
}
.card2 {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 8px;
  width: 16rem;
  left: 11rem;
  bottom: 2rem;
  box-shadow: 0px 14px 20px 0px rgba(0, 0, 0, 0.1);
}
.card2 h3 {
  font-size: 20px;
  margin: 0;
  text-align: left;
  padding: 2px 0;
}
.card2 p {
  font-size: 16px;
  margin: 0;
  color: #b4b4b4;
  text-align: left;
  padding-bottom: 2px;
}
.servicesFluffy {
  background: rgba(180, 180, 180, 0.25);
  padding: 6rem 0;
  padding-bottom: 0;
}
.servicesFluffy h2 {
  font-size: 60px;
  font-weight: 700;
  font-family: sans-serif;
  text-align: center;
}
.servicesFluffy p {
  font-size: 22px;
  font-weight: 400;
  color: #b4b4b4;
  padding-top: 1rem;
  font-family: sans-serif;
  text-align: center;
}
.servicesImg span {
  font-size: 20px;
  font-weight: 700;
  color: #23212b;
  font-family: sans-serif;
}
.servicesImg {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.servicesRow {
  justify-content: space-evenly;
  padding: 6rem 0;
}
.sfImg {
  width: 8rem;
  height: 8rem;
}

.pricePack {
  width: 9rem;
  border: 2px dotted #e39ba6 !important;
  background: #fff;
  color: black;
  border-radius: 20rem;
  border-color: #e39ba6 !important;
  transition: all 0.5s ease;
}

.pricePack:hover {
  border: 2px dotted #e39ba6 !important;
  border-color: #e39ba6 !important;
  background: #e39ba6 !important;
  color: #fff;
  transition: all 0.5s ease;
}
.book {
  border: 2px solid #e39ba6 !important;
  background: #e39ba6 !important;
  color: #fff;
  border-radius: 20rem;
  transition: all 0.5s ease;
}
.book:hover {
  border: 2px dotted #e39ba6 !important;
  background: #fff;
  color: black;
  border-radius: 20rem;
  border-color: #e39ba6 !important;
  transition: all 0.5s ease;
}

@media (min-width: 320px) and (max-width: 767px) {
  .contFluid {
    padding: 0 1rem;
  }
  .introText h2 {
    font-size: 35px;
  }
  .introText span {
    font-size: 35px;
  }
  .introText p {
    padding: 2rem 3rem;
  }
  .bookButton {
    text-align: end;
  }
  .priceButton {
    margin-left: 0rem;
  }
  #doItnow {
    font-size: 18px;
  }
  .card2 {
    left: 4rem;
    bottom: 0rem;
  }
  .card1 {
    top: 7rem;
  }
  .servicesFluffy h2 {
    font-size: 35px;
  }
  .servicesFluffy p {
    font-size: 18px;
  }
  .sfImg {
    width: 4rem;
    height: 4rem;
  }
  .servicesImg span {
    font-size: 16px;
    padding-bottom: 1rem;
  }
  .servicesRow {
    padding: 4rem 0;
  }
}
